<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-button (click)="volver()">
        <ion-icon name="arrow-back" size="small"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Películas: Comedia</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="videocam" size="small"></ion-icon>  
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-img src="../../assets/hanover.jpg"></ion-img>
      </ion-col>
      <ion-col>
        <h4>The Hangover</h4>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label>Ver más detalles</ion-label>
          <ion-toggle color="success" [(ngModel)]="dragon" (click)="verDragon()"></ion-toggle>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="mostrarDragon">
      <ion-col>
        <ion-item>
          <ion-icon name="people" slot="start"></ion-icon>
          <p>País: Estados Unidos</p>
        </ion-item>
        <ion-item>
          <ion-icon name="contact" slot="start"></ion-icon>
          <p>Productora: Daniel Goldberg,Todd Phillips</p>
        </ion-item>
        <ion-item>
          <ion-icon name="film" slot="start"></ion-icon>
          <p>Género: Comedia, </p>
        </ion-item>
      </ion-col>
      <ion-col size="12" class="ion-padding-horizontal">
        <h3 class="ion-text-center">Sinopsis</h3>
        <p>Cuenta la historia de Phil Wenneck, Stu Price, Alan Garner y Doug Billings, que viajan a Las Vegas para unadespedida de soltero para celebrar el inminente matrimonio de Doug. Sin embargo, Phil, Stu y Alan se despiertan con Doug desaparecido y sin memoria de los eventos de la noche anterior, y deben encontrar al novio antes de que pueda celebrarse la boda.</p>
      </ion-col>
      <ion-col size="10" offset="1">
        <ion-button color="danger" expand="block">
          <ion-icon name="logo-youtube" slot="start"></ion-icon>
          Ver trailer
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="10" offset="1">
        <ion-button color="secondary" expand="block" (click)="compartir()">
          <ion-icon name="share" slot="start"></ion-icon>
          Compartir
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
