<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-button (click)="volver()">
        <ion-icon name="arrow-back" size="small"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Series: Terror</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="play" size="small"></ion-icon>  
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-img src="../../assets/outcast.jpg"></ion-img>
      </ion-col>
      <ion-col>
        <h4>Outcast</h4>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label>Ver más detalles</ion-label>
          <ion-toggle color="tertiary" [(ngModel)]="dragon" (click)="verDragon()"></ion-toggle>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="mostrarDragon">
      <ion-col>
        <ion-item>
          <ion-icon name="people" slot="start"></ion-icon>
          <p>País: Japón</p>
        </ion-item>
        <ion-item>
          <ion-icon name="contact" slot="start"></ion-icon>
          <p>Productora: Robert Kirkman</p>
        </ion-item>
        <ion-item>
          <ion-icon name="film" slot="start"></ion-icon>
          <p>Género: Terror, horror, drama.</p>
        </ion-item>
      </ion-col>
      <ion-col size="12" class="ion-padding-horizontal">
        <h3 class="ion-text-center">Sinopsis</h3>
        <p>Es una historia de horror sobrenatural que presenta a personas involucradas en posesiones demoníacas y gira en torno a la vida de Kyle Barnes, quien es rechazado por la gente de Roma. West Virginia , por supuestamente lastimar a su esposa e hija.</p>
      </ion-col>
      <ion-col size="10" offset="1">
        <ion-button color="danger" expand="block">
          <ion-icon name="logo-youtube" slot="start"></ion-icon>
          Ver trailer
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="10" offset="1">
        <ion-button color="tertiary" expand="block" (click)="compartir()">
          <ion-icon name="share" slot="start"></ion-icon>
          Compartir
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
